<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{profile/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="profile-layout">
    <div class="container">
        <h1>Videos</h1>
        <a href="/profile/video/create">Create</a>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">VideoUrl</th>
                <th scope="col">Author</th>
                <th scope="col">Change</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="video : ${videos}">
                <th th:text="${video.id}" scope="row">1</th>
                <td th:text="${video.title}">Mark</td>
                <td>
                    <video alt="" class="img-fluid" style="width: 100%; max-width: 500px; height: auto; display: block; margin: 0 auto;">
                        <source th:src="${video.videoUrl}" type="video/mp4">
                    </video>
                    <div class="hovereffect">
                        <span class="videohover"></span>
                    </div><!-- end hover -->
                </td>
                <td th:text="${video.author.author}">Mark</td>
                <td>
                    <a class="btn btn-warning" th:href="'/profile/video/update/'+${video.id}">Edit</a>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#deleteModal' + ${video.id}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="'deleteModal' + ${video.id}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete this item?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form th:action="'/admin/video/delete/'+${video.id}" method="post">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>
</html>