<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>Tech Blog - Stylish Magazine Blog Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

</head>
<body>
    <section layout:fragment="layout">
        <section class="section single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">
                                <span class="color-orange"><a th:href="'/category/news/'+${newsDetails.category.id}" th:text="${newsDetails.category.name}" title="">Technology</a></span>
                                <h3 th:text="${newsDetails.title}" >Top 10 phone applications and 2017 mobile design awards</h3>

                                <div class="blog-meta big-meta">
                                    <small><a th:text="${newsDetails.author.author}" title="">by Jessica</a></small>
                                    <small><a th:text="${newsDetails.views}" href="#" title=""><i class="fa fa-eye"></i> 2344</a></small>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                            <div class="single-post-media">
                                <img th:src="${newsDetails.photoUrl}" alt="" class="img-fluid">
                            </div><!-- end media -->

                            <div class="blog-content">
                                <div class="pp">
                                    <p th:text="${newsDetails.editor2}"></p>
                                </div><!-- end pp -->
                            </div><!-- end content -->
                            <!-- end title -->

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-spot clearfix">
                                        <div class="banner-img">
                                            <img src="upload/banner_01.jpg" alt="" class="img-fluid">
                                        </div><!-- end banner-img -->
                                    </div><!-- end banner -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="invis1">


                            <div class="custombox authorbox clearfix">
                                <h4 class="small-title">About author</h4>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 d-flex justify-content-center align-items-center">
                                        <img th:src="'https://ui-avatars.com/api/?name='+${newsDetails.author.author.replace(' ', '+')}"
                                             alt="" class="img-fluid rounded-circle"
                                             style="width: 100%; height: auto; max-width: 100px; border-radius: 50%; object-fit: cover;">
                                    </div><!-- end col -->

                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <h4><a th:href="'/news/author/detail/'+${newsDetails.author.id}" th:text="${newsDetails.author.author}">Jessica</a></h4>
                                        <p th:text="${newsDetails.author.info}">Quisque sed tristique felis. Lorem consectetur adipiscing elit. Phasellus quis mi auctor, tincidunt nisl eget, finibus odio. Duis tempus elit quis risus congue feugiat. Thanks for stop Tech Blog!</p>

                                        <div class="topsocial">
                                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-link"></i></a>
                                        </div><!-- end social -->
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end author-box -->



                            <hr class="invis1">

                            <div class="custombox clearfix"  th:each="comment : ${comments}">
                                <h4 class="small-title">Comments</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="media" style="display: flex; align-items: center; margin-bottom: 20px;">
                                            <!-- Profil şəkli -->
                                            <a class="media-left" href="#">
                                                <img th:src="'https://ui-avatars.com/api/?name='+${comment.user.name}+'+'+${comment.user.surname}"
                                                     alt="Profile Picture"
                                                     class="img-fluid rounded-circle"
                                                     style="width: 50px; height: 50px; object-fit: cover;">
                                            </a>
                                            <div class="media-body" style="margin-left: 15px;">
                                                <!-- İstifadəçi adı və zaman -->
                                                <h4 class="media-heading user_name" th:text="${comment.user.name}+' '+${comment.user.surname}" style="margin: 0;">Sama Mehdiyeva</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <p th:text="${comment.content}"></p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="custombox clearfix" sec:authorize="isAuthenticated()">
                                <h4 class="small-title">Add a comment</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Şərh yazmaq üçün forma -->
                                        <form method="post" class="form-wrapper">
                                            <textarea name="content" class="form-control" placeholder="Your comment" rows="4" style="width: 100%; padding: 10px; font-size: 1rem; resize: vertical;"></textarea>
                                            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="widget-title">Follow Us</h2>

                                <div class="row text-center">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button facebook-button">
                                            <i class="fa fa-facebook"></i>
                                            <p>27k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button twitter-button">
                                            <i class="fa fa-twitter"></i>
                                            <p>98k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button google-button">
                                            <i class="fa fa-google-plus"></i>
                                            <p>17k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button youtube-button">
                                            <i class="fa fa-youtube"></i>
                                            <p>22k</p>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- end widget -->

                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="/images/adv.jpg" alt="" class="img-fluid" style="width: 300px; height: 600px; object-fit: cover;">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Trend Videos</h2>
                                <div class="trend-videos">
                                    <div class="blog-box" th:each="trendVideo : ${trendVideos}">
                                        <div class="post-media">
                                            <a th:href="${trendVideo.videoUrl}" title="">
                                                <video th:src="${trendVideo.videoUrl}" alt="" class="img-fluid"></video>
                                                <div class="hovereffect">
                                                    <span class="videohover"></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta" style="text-align: center;">
                                            <h4 style="margin: 0;">
                                                <a th:href="'/videos/detail/'+${trendVideo.id}" th:text="${trendVideo.title}" title="">We prepared the best 10 laptop presentations for you</a>
                                            </h4>
                                            <div style="text-align: center;">
                                                <small>
                                                    <a th:href="'/videos/author/detail/'+${trendVideo.author.id}" th:text="${trendVideo.author.author}"></a>
                                                </small>
                                                <small th:text="${trendVideo.views}"></small>
                                            </div>
                                        </div><!-- end meta -->

                                    </div><!-- end blog-box -->

                                    <hr class="invis">

                                </div><!-- end videos -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Popular News</h2>
                                <div class="blog-list-widget" th:each="popularNews : ${popularNews}">
                                    <div class="list-group">
                                        <a th:href="'/news/detail/'+${popularNews.id}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img th:src="${popularNews.photoUrl}" alt="" class="img-fluid float-left">
                                                <h5 th:text="${popularNews.title}" class="mb-1">5 Beautiful buildings you need..</h5>
                                                <small th:text="${popularNews.author.author}"></small>
                                            </div>
                                        </a>
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->


                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="/images/site-creator.webp" alt="Site Creator" class="img-fluid" width="1200" height="1200">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

    </section>

</body>
</html>